body {
    background-color: whitesmoke;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-left: 0;
    margin-right: 0px;
    margin-top: 0px;
}

h1 {
    margin: 0;
    font-family: 'Parisienne', cursive;
    word-spacing: 10px;
    font-size: 70px;
    color: #66BFBF;
}

h2 {
    font-size: 30px;
    padding-bottom: 30px;
    color: #66BFBF;
}

h3 {
    color: #11999E;
}

p {
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 20px;
    line-height: 2;
}

hr {
    border: dotted rgb(146, 212, 212) 6px;
    border-bottom: none;
    width: 5%;
    margin: 100px auto 100px auto;
}

a {
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

.profilePhoto {
    padding-top: 20px;
    width: 10%;
    height: 10%;
    padding-bottom: 30px;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 150px;
    font-family: Helvetica, sans-serif;
    display: table;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.middle-container {
    background-color: whitesmoke;
    margin: 100px 0;
    background-attachment: fixed;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
    background-attachment: fixed;
}

.bottom-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.top-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.intro {
    width: 30%;
    margin: auto;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.skill-image1 {
    border-radius: 50%;
    width: 25%;
    float: left;
    margin-right: 30px;
}

.skill-image2 {
    border-radius: 50%;
    width: 25%;
    float: right;
    margin-left: 30px;
}

.footer-link {
    color: #11999E;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.BUTTON_TON {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999A);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999A);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999A);
    background-image: -o-linear-gradient(top, #11CDD4, #11999A);
    background-image: linear-gradient(to bottom, #11CDD4, #11999A);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 100;
    margin-top: 30px;
    padding: 10px;
    box-shadow: 1px 1px 20px 0px #333333;
    -webkit-box-shadow: 1px 1px 20px 0px #333333;
    -moz-box-shadow: 1px 1px 20px 0px #333333;
    text-shadow: 1px 1px 20px #333333;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.BUTTON_TON:hover {
    border: solid #2BC4AD 1px;
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #3D94F6);
    background-image: -moz-linear-gradient(top, #30E3CB, #3D94F6);
    background-image: -ms-linear-gradient(top, #30E3CB, #3D94F6);
    background-image: -o-linear-gradient(top, #30E3CB, #3D94F6);
    background-image: linear-gradient(to bottom, #30E3CB, #3D94F6);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-decoration: none;
}